.mainbox{
    background-color: rgb(210, 197, 158);
    display: flex;
    column-gap: 60px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.box{

     height: 50px;
     width: 50px;
     border: 2px solid rgb(0, 0, 0);
}
.box1{
    background-color: red;
}
.box2{
    background-color: yellow;
}
.box3{
   background-color: green;
}
.box4{
    background-color: rgb(82, 2, 156);
}
.heading{
    position:absolute;
    top: 0px;
    left: 50px;
}